[submodule "concurrentqueue"]
	path = submodules/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "readerwriterqueue"]
	path = submodules/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
